.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(20, 40px);
  grid-template-rows: repeat(20, 40px);
}

.grid-wrapper > div {
  border: 1px solid black;
  cursor: pointer;
}

.main-body {
  display: flex;
  height: 92vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.heading {
  text-align: center;
}

@media screen and (max-width: 850px) {
  .grid-wrapper {
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
  }
}
